In this project i will be exploring ebay car sales data. First i will be performing data cleaning to perform some analysis afterwards

In [1]:
import numpy as np
import pandas as pd

In [2]:
autos = pd.read_csv("autos.csv", encoding="latin1")

In [3]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

From the information above, the dataset contains 50,000 rows and 20 columns, 15 of which are objects, and 5 of which are numerical

In [4]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [5]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'date_created', 'nr_of_pictures', 'postal_code',
       'last_seen']
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In python the preferred way of writing indexes and variables is with snake casing. Therefore, I changed the column titles to conform with this norm as well as updated some of the titles to be easier to understand:
* `yearOfRegistration` was changed to `registration_year`
* `monthOfRegistration` was changed to `registration_month`
* `notReparedDamage` was changed to `unrepaired_damage`
* `dataCreated` was changed to `ad_created`

## Initial Exploration and Cleaning

In [6]:
autos.describe(include="all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-04-02 11:37:04,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Here are the observations from the above description of the dataframe:
1. The seller and offer_type column have only two unique entries of which one has 49,999 and the other has only one input in the whole dataset, meaning that they are candidates to be dropped.
2. price and odometer seem to be saved as a data type other than a numerical one, so further investigation is necessary

In [7]:
seller_count = autos["seller"].value_counts()
offering_count = autos["offer_type"].value_counts()
price_count = autos["price"].value_counts()
odometer_count = autos["odometer"].value_counts()

print(seller_count)
print('\n')
print(offering_count)
print('\n')
print(price_count)
print('\n')
print(odometer_count)

seller
privat        49999
gewerblich        1
Name: count, dtype: int64


offer_type
Angebot    49999
Gesuch         1
Name: count, dtype: int64


price
$0         1421
$500        781
$1,500      734
$2,500      643
$1,000      639
           ...
$414          1
$79,933       1
$5,198        1
$18,890       1
$16,995       1
Name: count, Length: 2357, dtype: int64


odometer
150,000km    32424
125,000km     5170
100,000km     2169
90,000km      1757
80,000km      1436
70,000km      1230
60,000km      1164
50,000km      1027
5,000km        967
40,000km       819
30,000km       789
20,000km       784
10,000km       264
Name: count, dtype: int64

First, we are going to convert the `price` and `odometer` column to numeric as well as rename the columns to better explain the numbers cointained in it

In [8]:
autos["price"] = autos["price"].str.replace("[$,]", "", regex=True).astype(int)
autos["odometer"] = autos["odometer"].str.replace("[km,]", "", regex=True).astype(int)

In [9]:
autos.rename({"odometer": "odometer_km"}, axis=1, inplace=True)

In [10]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_crawled        50000 non-null  object
 1   name                50000 non-null  object
 2   seller              50000 non-null  object
 3   offer_type          50000 non-null  object
 4   price               50000 non-null  int64
 5   abtest              50000 non-null  object
 6   vehicle_type        44905 non-null  object
 7   registration_year   50000 non-null  int64
 8   gearbox             47320 non-null  object
 9   power_ps            50000 non-null  int64
 10  model               47242 non-null  object
 11  odometer_km         50000 non-null  int64
 12  registration_month  50000 non-null  int64
 13  fuel_type           45518 non-null  object
 14  brand               50000 non-null  object
 15  unrepaired_damage   40171 non-null  object
 16  date_created        50000 non-null  object
 17  nr_of_pictures      50000 non-null  int64
 18  postal_code         50000 non-null  int64
 19  last_seen           50000 non-null  object
dtypes: int64(7), object(13)
memory usage: 7.6+ MB

In [11]:
odometer_shape = autos["odometer_km"].unique().shape[0]
odometer_desc = autos["odometer_km"].describe()
print(odometer_desc)

odometer_counts = autos["odometer_km"].value_counts()
print(odometer_counts)

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64
odometer_km
150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: count, dtype: int64

All of the odometer unique values seem to be appropriate, and therefore we wont consider any of them as outliers

In [12]:
price_shape = autos["price"].unique().shape[0]
price_desc = autos["price"].describe()
print(price_desc)

price_counts = autos["price"].value_counts().sort_index(ascending=False)
mean_price = autos["price"].mean()
print(mean_price)
print('\n')
print(price_counts)

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64
9840.04376


price
99999999       1
27322222       1
12345678       3
11111111       2
10000000       1
            ...
5              2
3              1
2              3
1            156
0           1421
Name: count, Length: 2357, dtype: int64

In the analysis of our car pricing dataset, we have identified outliers that significantly deviate from the typical price range. We will remove upper-bound outliers, which include extremely high prices well above the calculated outlier threshold of $16,350. This threshold was determined using the interquartile range (IQR) method, which is outlined below:

1. **Calculate the Interquartile Range (IQR)**:
   - IQR = Q3 - Q1
   - Q1 (25th percentile) = $1,100
   - Q3 (75th percentile) = $7,200
   - IQR = $7,200 - $1,100 = $6,100

2. **Calculate the Upper Bound**:
   - Upper Bound = Q3 + 1.5 × IQR
   - Upper Bound = $7,200 + 1.5 × $6,100 = $16,350

Prices exceeding this upper bound, such as those in the multi-million range, are considered outliers. These outliers distort our statistical analysis due to their abnormal values compared to the general distribution of car prices. Additionally, we will also remove lower-bound outliers. These are prices at or near $0, which might represent non-standard transactions (e.g., salvage titles or giveaways) and are not indicative of the market values of operational vehicles. Therefore I will be removing any instances of prices below 10 dollars. Removing these outliers will help in achieving a more accurate and representative analysis of the dataset.

In [13]:
lower_bound = 10
upper_bound = 16350

autos = autos[autos["price"].between(lower_bound, upper_bound)]
print(autos["price"].describe())
print('\n')
print(autos["price"].value_counts().sort_index(ascending=False))

count    44631.000000
mean      4104.456252
std       3840.463580
min         10.000000
25%       1150.000000
50%       2700.000000
75%       5999.000000
max      16350.000000
Name: price, dtype: float64


price
16350     9
16333     2
16300    11
16299     4
16290     3
         ..
14        1
13        2
12        3
11        2
10        7
Name: count, Length: 1526, dtype: int64

In [14]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44631 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_crawled        44631 non-null  object
 1   name                44631 non-null  object
 2   seller              44631 non-null  object
 3   offer_type          44631 non-null  object
 4   price               44631 non-null  int64
 5   abtest              44631 non-null  object
 6   vehicle_type        40211 non-null  object
 7   registration_year   44631 non-null  int64
 8   gearbox             42405 non-null  object
 9   power_ps            44631 non-null  int64
 10  model               42339 non-null  object
 11  odometer_km         44631 non-null  int64
 12  registration_month  44631 non-null  int64
 13  fuel_type           40768 non-null  object
 14  brand               44631 non-null  object
 15  unrepaired_damage   35846 non-null  object
 16  date_created        44631 non-null  object
 17  nr_of_pictures      44631 non-null  int64
 18  postal_code         44631 non-null  int64
 19  last_seen           44631 non-null  object
dtypes: int64(7), object(13)
memory usage: 7.2+ MB

In [15]:
autos[['date_crawled','last_seen']][0:5]

          date_crawled            last_seen
0  2016-03-26 17:47:46  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 14:38:50

In [16]:
(autos["date_crawled"].str[:10].value_counts(normalize=True, dropna=False).sort_index())

date_crawled
2016-03-05    0.025565
2016-03-06    0.014026
2016-03-07    0.036141
2016-03-08    0.033609
2016-03-09    0.033071
2016-03-10    0.032735
2016-03-11    0.032511
2016-03-12    0.037440
2016-03-13    0.015595
2016-03-14    0.037082
2016-03-15    0.034169
2016-03-16    0.029845
2016-03-17    0.031973
2016-03-18    0.012771
2016-03-19    0.034169
2016-03-20    0.037620
2016-03-21    0.037104
2016-03-22    0.032668
2016-03-23    0.032533
2016-03-24    0.029441
2016-03-25    0.031973
2016-03-26    0.032645
2016-03-27    0.030741
2016-03-28    0.034774
2016-03-29    0.034214
2016-03-30    0.033923
2016-03-31    0.031570
2016-04-01    0.032847
2016-04-02    0.034998
2016-04-03    0.038493
2016-04-04    0.036365
2016-04-05    0.012928
2016-04-06    0.003159
2016-04-07    0.001300
Name: proportion, dtype: float64

In [17]:
(autos["date_crawled"]
        .str[:10]
        .value_counts(normalize=True, dropna=False)
        .sort_values()
        )

date_crawled
2016-04-07    0.001300
2016-04-06    0.003159
2016-03-18    0.012771
2016-04-05    0.012928
2016-03-06    0.014026
2016-03-13    0.015595
2016-03-05    0.025565
2016-03-24    0.029441
2016-03-16    0.029845
2016-03-27    0.030741
2016-03-31    0.031570
2016-03-25    0.031973
2016-03-17    0.031973
2016-03-11    0.032511
2016-03-23    0.032533
2016-03-26    0.032645
2016-03-22    0.032668
2016-03-10    0.032735
2016-04-01    0.032847
2016-03-09    0.033071
2016-03-08    0.033609
2016-03-30    0.033923
2016-03-19    0.034169
2016-03-15    0.034169
2016-03-29    0.034214
2016-03-28    0.034774
2016-04-02    0.034998
2016-03-07    0.036141
2016-04-04    0.036365
2016-03-14    0.037082
2016-03-21    0.037104
2016-03-12    0.037440
2016-03-20    0.037620
2016-04-03    0.038493
Name: proportion, dtype: float64

It appears that the site was crawled daily for approximately one month between March and April 2016. The distribution of listings crawled each day seems to be fairly uniform.

In [18]:
(autos["last_seen"]
        .str[:10]
        .value_counts(normalize=True, dropna=False)
        .sort_index()
        )

last_seen
2016-03-05    0.001165
2016-03-06    0.004593
2016-03-07    0.005714
2016-03-08    0.007842
2016-03-09    0.010105
2016-03-10    0.011113
2016-03-11    0.013040
2016-03-12    0.024938
2016-03-13    0.009343
2016-03-14    0.012883
2016-03-15    0.016267
2016-03-16    0.016961
2016-03-17    0.029016
2016-03-18    0.007551
2016-03-19    0.016468
2016-03-20    0.021218
2016-03-21    0.021151
2016-03-22    0.021935
2016-03-23    0.019179
2016-03-24    0.020434
2016-03-25    0.019986
2016-03-26    0.017253
2016-03-27    0.016155
2016-03-28    0.021711
2016-03-29    0.023011
2016-03-30    0.025453
2016-03-31    0.024400
2016-04-01    0.023392
2016-04-02    0.025162
2016-04-03    0.025655
2016-04-04    0.025072
2016-04-05    0.121485
2016-04-06    0.214089
2016-04-07    0.126258
Name: proportion, dtype: float64

The crawler captured the date when it last observed any listing, enabling us to identify the day a listing was likely removed, presumably due to the sale of the car.

The last three days show a significantly higher number of 'last seen' values. Considering they are 6-10 times higher than the values from earlier days, it's improbable that this reflects a sudden surge in sales. Instead, it's more plausible that these values relate to the end of the crawling period rather than actual car sales.

In [19]:
autos["registration_year"].describe()

count    44631.000000
mean      2003.991441
std         74.952291
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2007.000000
max       9999.000000
Name: registration_year, dtype: float64

The year of the car's first registration can provide insight into its age. Upon examining this column, we observe some unusual values. The minimum value is 1000, predating the invention of cars, while the maximum is 9999, far into the future.

Since a car cannot be registered before the listing was observed, any vehicle with a registration year above 2016 is certainly incorrect. Establishing the earliest plausible year is challenging, but it likely falls within the initial decades of the 1900s.

One approach is to exclude listings with these anomalous values. Let's calculate the percentage of our dataset that contains invalid values in this column:

In [20]:
((~autos["registration_year"].between(1900,2016)).sum() / autos.shape[0]) * 100

4.098048441666107

Given that this represents almost 4.1% of our dataset, we will remove these rows.

In [21]:
autos = autos[autos["registration_year"].between(1900,2016)]
autos["registration_year"].value_counts(normalize=True).head(10)

registration_year
2000    0.072754
2005    0.067263
1999    0.067216
2003    0.062287
2004    0.062053
2001    0.061025
2006    0.060348
2002    0.057334
1998    0.054624
2007    0.049624
Name: proportion, dtype: float64

## Exploring Price by Brand

In [22]:
autos["brand"].value_counts(normalize=True)

brand
volkswagen        0.214873
opel              0.114971
bmw               0.103430
mercedes_benz     0.088103
audi              0.077590
ford              0.073198
renault           0.050769
peugeot           0.032218
fiat              0.027802
seat              0.019065
skoda             0.017009
mazda             0.016144
nissan            0.015817
smart             0.015420
citroen           0.015069
toyota            0.013411
hyundai           0.010560
volvo             0.009322
mitsubishi        0.008668
honda             0.008341
sonstige_autos    0.008294
mini              0.007757
alfa_romeo        0.007009
kia               0.006986
suzuki            0.006378
chevrolet         0.005747
chrysler          0.003762
dacia             0.002874
daihatsu          0.002734
subaru            0.002196
jeep              0.002009
porsche           0.001822
saab              0.001776
daewoo            0.001635
trabant           0.001519
rover             0.001425
land_rover        0.001308
jaguar            0.001238
lancia            0.001121
lada              0.000631
Name: proportion, dtype: float64

German manufacturers dominate the top five brands, accounting for nearly 50% of the total listings. Volkswagen stands out as the most popular brand, boasting roughly twice the number of cars for sale compared to the next two brands combined.

Given that numerous brands have a negligible share of listings, we will focus our analysis on brands that make up more than 5% of the total listings.

In [23]:
brand_counts = autos["brand"].value_counts(normalize=True)
common_brands = brand_counts[brand_counts > 0.05].index
print(common_brands)

Index(['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford',
       'renault'],
      dtype='object', name='brand')

In [24]:
brand_mean_prices = {}

for brand in common_brands:
    curr_brand = autos[autos["brand"] == brand]
    mean_price = curr_brand["price"].mean()
    brand_mean_prices[brand] = int(mean_price)
    
brand_mean_prices

{'volkswagen': 4196,
 'opel': 2728,
 'bmw': 5675,
 'mercedes_benz': 5280,
 'audi': 5722,
 'ford': 2951,
 'renault': 2289}

Among the top 5 brands, there's a noticeable price disparity:

* Audi, BMW, and Mercedes Benz command higher prices.
* Ford and Opel offer more affordable options.
* Volkswagen falls in the middle. Which makes sense as it is the most popular

## Storing Aggregate Data in a DataFrame

In [25]:
brand_mean_milage = {}

for brand in common_brands:
    curr_brand = autos[autos["brand"] == brand]
    mean_milage = (curr_brand["odometer_km"].mean()) * 0.621371
    brand_mean_milage[brand] = int(mean_milage)
    
brand_mean_milage

{'volkswagen': 82533,
 'opel': 81095,
 'bmw': 86271,
 'mercedes_benz': 86060,
 'audi': 86866,
 'ford': 78885,
 'renault': 80137}

### Please note that for each instance I divided the mean by 1.6 in order to transform the mean kilometers as recorded in the odometer to miles, for it be self descriptive

In [26]:
mean_milage = pd.Series(brand_mean_milage).sort_values(ascending=False)
mean_prices = pd.Series(brand_mean_prices).sort_values(ascending=False)

brand_info = pd.DataFrame(mean_milage, columns=["mean_milage"])
brand_info["mean_prices"] = mean_prices
brand_info

               mean_milage  mean_prices
audi                 86866         5722
bmw                  86271         5675
mercedes_benz        86060         5280
volkswagen           82533         4196
opel                 81095         2728
renault              80137         2289
ford                 78885         2951

## Conclusion

### Brand Analysis
German manufacturers dominate the top 5 brands, accounting for nearly 50% of the total listings. Volkswagen stands out as the most popular brand, boasting roughly twice the number of cars for sale compared to the next two brands combined. Among these top brands, there's a noticeable price disparity:
* Audi, BMW, and Mercedes Benz command higher prices.
* Ford and Opel offer more affordable options.
* Volkswagen falls in the middle, possibly explaining its popularity as a 'best of both worlds' choice.

### Price and Mileage Trends
The range of car mileages doesn't fluctuate as significantly as the prices do across brands, with all falling within a 10% range for the top brands. There's a slight trend indicating that more expensive vehicles tend to have higher mileage, while less expensive vehicles generally have lower mileage.

### Additional Considerations
While price and mileage are key factors influencing consumer choices, other variables such as model year, vehicle condition, and optional features can also play significant roles. Brand reputation, reliability, and market demand further impact consumer preferences and resale values.

### Next Steps
To gain a more comprehensive understanding of the market dynamics and consumer behavior, it would be beneficial to explore these additional variables. Analyzing factors like geographical distribution of listings, seasonal trends, and specific optional features might provide further insights into buying patterns and market trends.